// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Rubik:wght@400;500;700&display=swap');

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

*{
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;
    color: #000
}

.mr-3 {
    margin-right: 10px;
}

body {
   //background-image:url('{{ asset('assets/images/b2b/graph-01.svg')}}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    height: 100%;
}

nav{
    h1{
        font-family: 'Satisfy', cursive;
    }

}
.nav-client{
    //background-color: red;
    //background-image:url("{{ asset('images/logo.png')}}");
    background-image:url('../images/logo2.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
}

.ml-3{
    margin-left:20px
}


.categories-block{
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
}

.category-block-border{
    border-bottom: 1px dashed black;
}

.shop-logo{
    color:  #fff;
    font-size: 70px;
    font-weight: 900;
    text-shadow: #9d500c 2px 0 10px;
}

.detail-desc{
    font-size: 14px;
}


.phone{
    font-family: sans-serif;
    color: #ffffff;
}
.icon{
    width:16px;
    height: 16px;
    font-size: 16px;
    color: #f1eeee;
}

.loader{
    width:16px !important;
    height: 16px !important;
}

div .uneditable-input-bg:focus {
    border-color: rgb(93, 5, 5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(93, 5, 5);
    outline: 0 none;
}

.search-text{
    font-weight: 400;
    font-size: 20px;
}

div button.search-btn{
    margin-left: -3px !important;
}

.catalog-icon{
    fill: #ff2929;
}
